*{
    margin: 0;
    border: 0;
    padding: 0;
}



.bg-green{
    background-color: lightblue!important;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
        

        
        .card{
            padding: 2% 7%;
            color: #646771;
            background-color: #16151a;
        }
        
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        ul >li{
            padding: 4px;
        }
        
        ul > li:hover{
            color:#957bda;
            cursor: pointer;
        }
        
        hr{
            border-width: 3px;
        }
        
        .social > i{
            padding: 1%;
            font-size: 15px;
        }
        
        .social > i:hover{
            color:#957bda;
            cursor:pointer;
        }
        
        .policy > div{
            padding: 4px;
        }
        
        .heading{
            font-family: 'Titillium Web', sans-serif;
            color: white;
        }
        
        .divider{
            border-top: 2px solid rgba(189, 196, 203, 0.5);
        }
        .card-deck .card {
            -ms-flex: -1 0 0%;
            flex: 1 0 0%;
            margin-right: 100px !important;
            margin-bottom: 0;
            margin-left: 50px !important;
            padding: 5px !important;
        }

        .btn-figure{
            margin: 0px!important;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
        .fundo-page{
            background-color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        ul, li{
            text-align: center;
        }
        .pcd{
            text-align: center;
            width: 100%;
        }
        .btn-hover{
            background-color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            animation: pulse 1s infinite;
            transition: .3s;
            border-radius: 5px;
            width: 160px;
            height: 74px;
        }
        .btn-hover:hover{
            background-color: #ADD8E6;
            animation: pulse 1s infinite;
            transition: .3s;
            scale: 0.95;
        }
        .nos{
            text-align: center;
            max-width: 70%;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        h5{
            text-align: center;
        }
        #cartao1-hover{
            background-color: bisque;
            border-radius: 5px;
            animation: pulse 1s infinite;
            transition: .3s;
        }
        .direitos{
            margin: 5px;
        }

